body{
    font-family: "Times New Roman", Times, serif;
    background-color: #F3F3F3;
}

#contentPane{
  background-color: #FFFFFF;
}

/*h2{
  text-align: center;
}*/

p {
    font-family: "Times New Roman", Times, serif;
    font-size:1.4em;
}
em{
  color: #12A2BA;
}
.lead {
  color: #1182BA;
  font-size: 1.8em;
}

#content{
  margin-top:10px;
}

.navbar{
  min-height: 60px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border:1px solid;
}

div#tabel{
  padding-top: 10px;
  padding-bottom: 10px;
}

hr.fancy {
	border-top: 1px solid #8c8b8b;
	text-align: center;
}
hr.fancy:after {
	content: '§';
	display: inline-block;
	position: relative;
	top: -14px;
	padding: 0 10px;
	background: #f0f0f0;
	color: #8c8b8b;
	font-size: 18px;
	-webkit-transform: rotate(60deg);
	-moz-transform: rotate(60deg);
	transform: rotate(60deg);
}
