h2{
  text-align: center;
}

div#tabel{
  padding-top: 10px;
  padding-bottom: 10px;
}

hr.fancy {
	border-top: 1px solid #8c8b8b;
	text-align: center;
}
hr.fancy:after {
	content: 'ยง';
	display: inline-block;
	position: relative;
	top: -14px;
	padding: 0 10px;
	background: #f0f0f0;
	color: #8c8b8b;
	font-size: 18px;
	-webkit-transform: rotate(60deg);
	-moz-transform: rotate(60deg);
	transform: rotate(60deg);
}
